*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#eef3f8;
}

a{
    text-decoration:none;
}

/* LOGIN */

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#e9f6f5,#dceef0);
}

.login-container{
    width:430px;
    background:white;
    padding:50px;
    border-radius:32px;
    box-shadow:0 20px 50px rgba(0,0,0,0.08);
    position:relative;
}

.logo-area{
    text-align:center;
}
